<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<description></description>
  	<display-name>VacanteController</display-name>
  	<servlet-name>VacanteController</servlet-name>  	
  	<servlet-class>com.controller.VacanteController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>VacanteController</servlet-name>
  	<url-pattern>/vacante</url-pattern>
  </servlet-mapping>
</web-app>
